{% extends "base.html" %}

{% block css %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'query.css' %}" />
{% endblock %}

{% block nav %}
    <li><a href="/" id="search-link" class="newsearch" style="color: #41484c;">
    <span class="icon fa-refresh">
        New search
    </span></a></li>
{% endblock %}

{% block content %}

    <div id="main">
        <section id="top" class="one dark cover" style="padding: 0">
            {% if empty %}
                <header style="margin-top: 25%">
                <h2 class="alt">Sorry, <strong>no tweets</strong>
                    <br>match your search ...<br></h2>
                </header>
            {% else %}
                <div id="column1">
                    {% for c1 in col1 %}
                            <blockquote class="twitter-tweet" data-conversation="none">
                                <a href="{{ c1 }}"></a>
                            </blockquote>
                    {% endfor %}</div>
                <div id="column2">
                    {% for c2 in col2 %}
                        <blockquote class="twitter-tweet" data-conversation="none">
                            <a href="{{ c2 }}"></a>
                        </blockquote>
                    {% endfor %}
                </div>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% endif %}
        </section>
    </div>
{% endblock %}
