#main section div#col1 {
    float: left;
    margin-left: 4%;
    width: 20%;
}
#main section div#col2 {
    float: right;
    margin-right: 4%;
    width: 70%;
}
#main section div#col1 input {
    width: auto;
}
