#main section header.notfound {
    margin-top: 40vh
}

@media screen and (min-width: 736px) {
    section div#column1 {
        float: left;
        margin-left: 4%;
        width: 45%;
    }
    section div#column2 {
        float: right;
        margin-right: 4%;
        width: 45%;
    }
}


@media screen and (max-width: 736px) {
    body section div#column1 {
        text-align: center;
        display: block;
        margin-left: 15vw;

    }
    body section div#column2 {
        text-align: center;
        display: block;
        margin-left: 15vw;
    }
}

#nav ul li a.newsearch {
    color: #41484c;
}

#nav ul li a.logout {
    color: #41484c;
}

#nav ul li a.newsearch:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
}

#nav ul li a.newsearch:hover span {
    color: #fff;
}
#nav ul li a.newsearch:hover span::before {
    color: #FF9F1C;
}

#nav ul li a.logout:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
}

#nav ul li a.logout:hover span {
    color: #fff;
}
#nav ul li a.logout:hover span::before {
    color: #F44708;
}