<!DOCTYPE HTML>

<html>

<head>
	<title>Twitmining</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="yes"/>

	{% load static %}
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	{% block css %}
	{% endblock %}

</head>

<body>

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Logo -->
			<div id="logo">
                <div style="float: left; margin-left: 20%; height: 35px;">
				<img src="{% static 'assets/css/images/logo.png' %}" alt="" width="35px" />
                </div>
                <div style="float: right; width: 45%; margin-right: 10%;">
				<h1 id="title">Twitmining</h1>
                </div>
				<p><I>A world of data within your reach !</I></p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					{% block nav %}
					{% endblock %}
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="https://twitter.com/TheTwitmining" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://github.com/NicolasHoulier/twitmining" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#contact" class="icon fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

		</div>

			{% block content %}
			{% endblock %}

		</div>

		<!-- Footer -->
		<div id="footer">

			<!-- Copyright -->
			<ul class="copyright">
				<li>&copy; Twitmining. All rights reserved.</li>
				<li>Author: <a> Nicolas Houlier </a></li>
			</ul>

		</div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollzer.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>